<body class="body-custom">

  <main class="form-signin">
    <%= form_for :teacher, url: login_path do |f| %>
    <h1 class="h3 mb-3 fw-normal" style="color: white">Please sign in</h1>
    <div>
      <p style="color: white">Email</p>
      <div class="form-floating">
        <%= f.text_field :email, placeholder: "Email", class: 'form-control'%>
      </div>
    </div>
    <br>
    <div>
      <p style="color: white">Password</p>
      <div class="form-floating">
        <%= f.password_field :password, placeholder: "Password", class: 'form-control' %>
      </div>
    </div>
    <%= f.submit "Log In", class: "w-100 btn btn-lg btn-primary"%>
    <% end %>
    <br><%= button_to 'Continue with Gmail2', '/auth/google_oauth2', class: "w-100 btn btn-lg btn-secondary"%>
    <p class="mt-5 mb-3 " style="color: white">&copy; 2020–2021</p>

  </main>
</body>