<h1>Log in Below</h1>

<%= form_for :teacher, url: login_path do |f| %>
  
  <%= f.label :email %><br>
  <%= f.text_field :email%><br>

  <%= f.label :password %><br>
  <%= f.text_field :password%><br>

  <%= f.submit "Log In"%><br> 
<% end %>
<br><%= button_to 'Continue with Gmail', '/auth/google_oauth2'%>