<div class="text-center">

  <%= form_for :teacher, url: login_path do |f| %>
    <div class="form-signin">
    <%= f.label :email %><br>
    <%= f.text_field :email%><br>
    </div>
    <%= f.label :password %><br>
    <%= f.password_field :password%><br>

    <%= f.submit "Log In"%><br> 
  <% end %>
  <br><%= button_to 'Continue with Gmail', '/auth/google_oauth2'%>
<div>

    