<h1>Log in Below</h1>

<%= form_for :@teacher, url: login_path do |f| %>
  
  <%= f.label :email %>
  <%= f.text_field :email%>

  <%= f.label :password %>
  <%= f.text_field :password%>

  <%= f.submit "Log In"%>
<% end %>