    <%= f.label :"Assignment Name" %><br>
    <%= f.text_field  :name %><br>
    
    <%= f.label :description %><br>
    <%= f.text_area :description %><br>

    <%= f.label "Total" %><br>
    <%= f.number_field  :max %><br>

    <%= f.label :due_date %><br>
    <%= f.date_field  :due_date %><br>
    
    <p><%= f.label "Select students"%><br></p>
    <%= f.collection_select :student_ids, @students, :id, :full_name,{include_blank: "Please Select from the list", include_hidden: false}, {multiple: true} %>
    
  
