<%= form_for @assignment, url: course_assignments_path(@assignment.course) do |f| %>
    <%= f.label :"Assignment Name" %>
    <%= f.text_field  :name%>
    
    <%= f.label :description %>
    <%= f.text_area :description%>

    <%= f.label "Total" %>
    <%= f.number_field  :max %>

    <%= f.label :due_date %>
    <%= f.date_field  :due_date%>

    
    
    <p><%= f.label "Select students"%><br></p>
    <%= f.collection_select :student_ids, @students, :id, :full_name,{include_blank: "Please Select from the list", include_hidden: false}, {multiple: true} %>
    
   <br> <%= f.submit %>
<% end %>