Welcome to <%= @course.name %> Class Gradebook
<%= link_to "Add Assignment", new_assignment_path %>
<table class="table table-hover">
  <thead>
    <tr>
        <th scope="col">Student Name</th>
        <% @assignments.each do |assignment| %>
            <th scope="col"><%= assignment.id %> - <%= assignment.name %></th>
        <% end %>
        <th scope="col" >Average</th>
    </tr>
  </thead>
  <tbody>
        <% @students.each do |student| %>
    <tr>
        <td>
        <%= student.id %> - 
        <%= student.full_name %>
        </td>
        <% @assignments.each do |assignment| %>
        <td><%= student.student_grade_by_assignment(assignment,student) %></td>
        <% end %>
        <% end %> 
    </tr>
 </tbody>
</table>