Welcome to <%= @course.name %> Class Gradebook
<%= link_to "Add Assignment", new_course_assignment_path %>
<table class="table table-hover">
  <thead>
    <tr>
        <th scope="col">Student Name</th>
        <% @assignments.each do |assignment| %>
            <th scope="col"><%= assignment.id %> - <%= assignment.name %>__/<%= assignment.max %></th>
        <% end %>
        <th scope="col" >Average</th>
    </tr>
  </thead>
  <tbody>
        <% @students.each do |student| %>
    <tr>
        <td>
        <%= student.id %> - 
        <%= student.full_name %>
        </td>
        <% @assignments.each do |assignment| %>
        <%#<td><%=# link_to "#{student.student_grade_each_assignment(assignment,student)}", edit_course_student_path(assignment.course, student)%></td>
        <td><%= link_to "#{student.assignment_grade(assignment,student)}", edit_student_student_assignment_path(student, assignment)%></td>
        <% end %>
        
        <td><%=student.average(@assignments,student)%>/<%= student.letter_grade(@assignments,student) %></td>
        <% end %> 
    </tr>
 </tbody>
</table>