<body class="body-custom">
<br>
<br>
<br>
  <main class="form-signin", style="color: white" >
    <%= form_for :teacher do |f| %>
    <h1 class="h4 mb-3 fw-normal" style="color: white">PostGrade|  Sign Up</h1>
    <div>
      <p style="color: white">Username</p>
      <div class="form-floating">
        <%= f.text_field :username, required: true, class: 'form-control'%>
      </div>
    </div>
    <br>
    <div>
      <p style="color: white">Email</p>
      <div class="form-floating">
        <%= f.email_field :email, required: true, class: 'form-control'%>
      </div>
    </div>
    <br>
    <div>
      <p style="color: white">Password</p>
      <div class="form-floating">
        <%= f.password_field :password, required: true, class: 'form-control' %>
      </div>
    </div>
    <br>
    <%= f.submit "Sign Up", class: "w-100 btn btn-lg btn-primary"%>
    <% end %>
    <br><%= link_to "Login", login_path, class: 'link-color'%>
    <p class="mt-5 mb-3 " style="color: white">&copy; 2020–2021 by Hatice Karatay</p>

  </main>
</body>