
<div class="container ">
       <% if @teacher.courses.count == 0 %>
            You have no assigned classes, yet. Please contact to school admin.
        <% end %>
        <div class="row g-10">
        <% @teacher.courses.each do |course|%>
        
            <div class="col-sm ">
            <div class="dashboard">
                <div class="card text-center" style="width: 21rem;">
                   <%#= image_tag "dashboard/course1.jpg" %>
                   <%= image_tag "dashboard/course#{course.id}.jpg"  %>
                    <div class="card-body">
                        <h5 class="card-title"><%=course.name%></h5>
                        <p class="card-text text-truncate"><%=course.description %></p>
                            <%= link_to "Gradebook", course_students_path(course), :class => "btn btn-primary custom-btn"%>
                            <%= link_to "Course Info", course_path(course), :class => "btn btn-primary custom-btn" %>
                    </div>
                </div>
            </div>
            </div>
        <% end %>
    </div>
</div>

